{%extends 'layout.html'%}
{%block content%}
<br><br><br>


<!-- Material form login -->
<form method="POST" action="">
    {{form.hidden_tag()}}
    <fieldset>
        <p class="h4 text-center mb-4">Publish updates</p>

        <div class="modal-body">
            <div class="md-form form-sm mb-4">
                <i class="fa fa-envelope prefix"></i>
                {{form.blog_id(id="modalLRInput15", class="form-control form-control-sm validate")}}
                {{form.blog_id.label(for="modalLRInput15")}}

              	{%if form.blog_id.errors%}
                    {%for error in form.blog_id.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%endif%}
            </div>


            <div class="md-form form-sm mb-4">
                <i class="fa fa-envelope prefix"></i>
                {{form.password(id="modalLRInput15", class="form-control form-control-sm validate")}}
                {{form.password.label(for="modalLRInput15")}}

              	{%if form.password.errors%}
                    {%for error in form.password.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%endif%}
            </div>


            <div class="md-form form-sm mb-4">
                <i class="fa fa-envelope prefix"></i>
                {{form.subject(id="modalLRInput15", class="form-control form-control-sm validate")}}
                {{form.subject.label(for="modalLRInput15")}}

              	{%if form.subject.errors%}
                    {%for error in form.subject.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%endif%}
            </div>


            <div class="md-form form-sm mb-4">
                <i class="fa fa-envelope prefix"></i>
                {{form.topic(id="modalLRInput135", class="form-control form-control-sm validate")}}
                {{form.topic.label(for="modalLRInput15")}}

                {%if form.topic.errors%}
                    {%for error in form.topic.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%endif%}
            </div>


            <div class="md-form form-sm mb-4">
                <i class="fa fa-envelope prefix"></i>
                {{form.content(id="modalLRInput15", class="form-control form-control-sm validate")}}
                {{form.content.label(for="modalLRInput15")}}

              	{%if form.content.errors%}
                    {%for error in form.content.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%endif%}
            </div>


            <div class="text-center mt-4">
                {{form.submit(class="btn btn-default")}}
            </div>

        </div>
    </fieldset>
</form>
<br>

{%endblock content%}
